APP_NAME=MettaRing
APP_PORT=3000
APP_ENV=development
APP_HOST=localhost
APP_URL=http://localhost:3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER_NAME=postgres_user
DATABASE_PASSWORD=postgres_pw
DATABASE_DB_NAME=nest_be_template_db

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USER_NAME=
REDIS_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_SECURE=false
MAIL_USER_NAME=
MAIL_PASSWORD=
MAIL_FROM=no-reply@metta.com

FB_PROJECT_ID=
FB_CLIENT_EMAIL=
FB_PRIVATE_KEY=


